<!DOCTYPE html>
<html>
<head>
    <title>Security Center</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

<div class="sidebar">

    <h2>🔐 SecureVault</h2>

    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/vault">Vault</a></li>
        <li><a href="/generator">Generator</a></li>
        <li><a href="/security">Security</a></li>
        <li><a href="/crypto">Crypto Lab</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

</div>

<div class="main">

    <div class="topbar">
        <h1>Security Center</h1>
    </div>

    <div class="card">
        <h3>Password Strength Checker</h3>

        <input
        type="password"
        id="passwordInput"
        placeholder="Enter Password"
        onkeyup="checkStrength()">

        <br><br>

        <div id="strength">
            Enter Password
        </div>
    </div>

    <br>

    <div class="activity">

        <h2>Security Recommendations</h2>

        <ul>
            <li>✓ Use passwords longer than 12 characters</li>
            <li>✓ Use uppercase and lowercase letters</li>
            <li>✓ Include numbers and symbols</li>
            <li>✓ Never reuse passwords</li>
            <li>✓ Enable Two-Factor Authentication</li>
        </ul>

    </div>

</div>

</body>
</html>